<launch>
   <rosparam file="$(find servo)/config/params.yaml" command="load"/>
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="Arduino_ros" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" output="screen" respawn="true" />
    <node name="Ros_servo1" pkg="servo" type="servo_demo.py" args="--wait" output="screen" respawn="true" />
    <node name="Saves" pkg="servo" type="save.py" args="--wait" output="screen" respawn="true" />
    <node name="SU" pkg="servo" type="main.py" args="--wait" output="screen" respawn="true" />
</launch>
